In [ ]:
import sqlalchemy
import pandas
engine = sqlalchemy.create_engine(
    sqlalchemy.engine.url.URL(
        drivername="postgresql",
        username="username",
        password="password",
        host="host",
        port="port",
        database="database",
    ),
    echo_pool=True,
)
print("connecting with engine " + str(engine))
connection = engine.connect()
query = "select * from table"
df = pd.read_sql_query(query, connection)

In [1]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Collecting sqlparse
  Using cached sqlparse-0.4.1-py3-none-any.whl (42 kB)
Requirement already satisfied: six in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: ipython>=1.0 in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (7.8.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: backcall in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: appnope in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: jedi>=0.10 in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.15.1)
Requirement already satisfied: decorator in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.4.0)
Requirement already satisfied: traitlets>=4.2 in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: pygments in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.4.2)
Requirement already satisfied: setuptools>=18.5 in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (46.0.0)
Requirement already satisfied: pexpect in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.7.0)
Requirement already satisfied: pickleshare in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: parso>=0.5.0 in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.1)
Requirement already satisfied: wcwidth in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: ptyprocess>=0.5 in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from pexpect->ipython>=1.0->ipython-sql) (0.6.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13699 sha256=8eb1559522fcb1acd296c92788358e4969850f7cef3c342a4034f597fb4a1e0b
  Stored in directory: /Users/marigaldina/Library/Caches/pip/wheels/b2/7f/f6/f180315b584f00445045ff1699b550fa895d09471337ce21c6
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.1
WARNING: You are using pip version 21.0.1; however, version 21.1 is available.
You should consider upgrading via the '/Users/marigaldina/opt/anaconda3/bin/python -m pip install --upgrade pip' command.

In [2]:
%load_ext sql

In [3]:
%sql sqlite://

In [ ]:
print("connecting with engine " + str(engine))

In [5]:
%%sql
CREATE TABLE sales
(
    key       varchar(6),
    ts        timestamp,
    product   integer,
    completed boolean,
    price     float
);
INSERT INTO sales
VALUES ('sale_1', '2019-11-08 00:00', 0, TRUE, 1.1),
       ('sale_2', '2019-11-08 01:00', 0, FALSE, 1.2),
       ('sale_3', '2019-11-08 01:00', 0, TRUE, 1.3),
       ('sale_4', '2019-11-08 01:00', 1, FALSE, 1.4),
       ('sale_5', '2019-11-08 02:00', 1, TRUE, 1.5),
       ('sale_6', '2019-11-08 02:00', 1, TRUE, 1.5);

 * sqlite://
Done.
6 rows affected.

[]

In [6]:
%%sql
select * from sales;

 * sqlite://
Done.

[('sale_1', '2019-11-08 00:00', 0, 1, 1.1),
 ('sale_2', '2019-11-08 01:00', 0, 0, 1.2),
 ('sale_3', '2019-11-08 01:00', 0, 1, 1.3),
 ('sale_4', '2019-11-08 01:00', 1, 0, 1.4),
 ('sale_5', '2019-11-08 02:00', 1, 1, 1.5),
 ('sale_6', '2019-11-08 02:00', 1, 1, 1.5)]

In [7]:
result = _

In [8]:
type(result)
# sql.run.ResultSet

sql.run.ResultSet

In [9]:
df = result.DataFrame()

In [10]:
df

      key                ts  product  completed  price
0  sale_1  2019-11-08 00:00        0          1    1.1
1  sale_2  2019-11-08 01:00        0          0    1.2
2  sale_3  2019-11-08 01:00        0          1    1.3
3  sale_4  2019-11-08 01:00        1          0    1.4
4  sale_5  2019-11-08 02:00        1          1    1.5
5  sale_6  2019-11-08 02:00        1          1    1.5

In [11]:
 %sql sqlite:///gapminder.sqlite

In [12]:
%sql SELECT * FROM surveys

   sqlite://
 * sqlite:///gapminder.sqlite
(sqlite3.OperationalError) no such table: surveys
[SQL: SELECT * FROM surveys]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [13]:
 %sql SELECT * FROM surveys WHERE country = 'Ireland'

   sqlite://
 * sqlite:///gapminder.sqlite
(sqlite3.OperationalError) no such table: surveys
[SQL: SELECT * FROM surveys WHERE country = 'Ireland']
(Background on this error at: http://sqlalche.me/e/e3q8)

In [15]:
%%sql

SELECT *
FROM surveys
WHERE (year >= 2000) AND (country IN ("Ireland", "Germany", "Spain"));

   sqlite://
 * sqlite:///gapminder.sqlite
(sqlite3.OperationalError) no such table: surveys
[SQL: SELECT * FROM surveys
WHERE (year >= 2000) AND (country IN ("Ireland", "Germany", "Spain"));]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
result = %sql SELECT * FROM surveys ;  
df = result.DataFrame()

In [18]:
!pip install plotly_express

Collecting plotly_express
  Downloading plotly_express-0.4.1-py2.py3-none-any.whl (2.9 kB)
Requirement already satisfied: patsy>=0.5 in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from plotly_express) (0.5.1)
Requirement already satisfied: plotly>=4.1.0 in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from plotly_express) (4.5.0)
Requirement already satisfied: statsmodels>=0.9.0 in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from plotly_express) (0.11.1)
Requirement already satisfied: scipy>=0.18 in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from plotly_express) (1.4.1)
Requirement already satisfied: numpy>=1.11 in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from plotly_express) (1.19.2)
Requirement already satisfied: pandas>=0.20.0 in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from plotly_express) (1.2.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.20.0->plotly_express) (2.8.0)
Requirement already satisfied: pytz>=2017.3 in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.20.0->plotly_express) (2019.3)
Requirement already satisfied: six in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from patsy>=0.5->plotly_express) (1.12.0)
Requirement already satisfied: retrying>=1.3.3 in /Users/marigaldina/opt/anaconda3/lib/python3.7/site-packages (from plotly>=4.1.0->plotly_express) (1.3.3)
Installing collected packages: plotly-express
Successfully installed plotly-express-0.4.1
WARNING: You are using pip version 21.0.1; however, version 21.1 is available.
You should consider upgrading via the '/Users/marigaldina/opt/anaconda3/bin/python -m pip install --upgrade pip' command.

In [19]:
import plotly_express as px

In [ ]:
df_02 = df[df['year']==2002]
fig = px.scatter(df_02, x="gdpPercap", y="lifeExp", size="pop", color="continent",
           hover_name="country", log_x=True, size_max=60)
fig.show()

In [ ]:
px.scatter(df, x="gdpPercap", y="lifeExp", animation_frame="year", animation_group="country",
           size="pop", color="continent", hover_name="country", 
           log_x = True, 
           size_max=45, range_x=[100,100000], range_y=[25,90])