In [2]:
import numpy as np
import pandas as pd

In [3]:
distr_table = pd.DataFrame({
    'X': [0, 0, 1, 1],
    'Y': [1, 2, 1, 2],
    'pr': [0.3, 0.25, 0.15, 0.3]
})

In [4]:
distr_table

   X  Y    pr
0  0  1  0.30
1  0  2  0.25
2  1  1  0.15
3  1  2  0.30

In [9]:
for x in distr_table[["X"]].values:
    print(x)

[0]
[0]
[1]
[1]

In [7]:
 distr_table[["X"]]

   X
0  0
1  0
2  1
3  1